/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --nav-color: #353430;
  --logo-color: #ffc2e6;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --nav-hover-color: rgb(50 49 45 / 0.4);

  --background-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec {
    display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --nav-color: #353430;
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --logo-color: #ffc2e6;
    --nav-hover-color: rgb(50 49 45 / 0.4);

    --background-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}